/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0 auto;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/myriad-pro/MyriadPro-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/myriad-pro/MyriadPro-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/myriad-pro/MyriadPro-Regular.svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/myriad-pro/MyriadPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/myriad-pro/MyriadPro-Regular.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/bryant/UTMBryantLGBold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/bryant/UTMBryantLGBold.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/bryant/UTMBryantLGBold.svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/bryant/UTMBryantLGBold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/bryant/UTMBryantLGBold.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMFacebookK-T';
  src: url("../fonts/facebook K&T/UTMFacebookK-T.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMFacebookK-T';
  src: url("../fonts/facebook K&T/UTMFacebookK-T.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMFacebookK-T';
  src: url("../fonts/facebook K&T/UTMFacebookK-T.svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMFacebookK-T';
  src: url("../fonts/facebook K&T/../fonts/facebook K&T/UTMFacebookK-T.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMFacebookK-T';
  src: url("../fonts/facebook K&T/UTMFacebookK-T.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url("../fonts/MyriadPro-Light/MyriadPro-Light.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url("../fonts/MyriadPro-Light/MyriadPro-Light.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url("../fonts/MyriadPro-Light/MyriadPro-Light.svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url("../fonts/MyriadPro-Light/MyriadPro-Light.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url("../fonts/MyriadPro-Light/MyriadPro-Light.woff");
  font-weight: normal;
  font-style: normal; }

.collumn-lg-1 {
  width: 8.33333%; }

.collumn-lg-2 {
  width: 16.66667%; }

.collumn-lg-3 {
  width: 25%; }

.collumn-lg-4 {
  width: 33.33333%; }

.collumn-lg-5 {
  width: 41.66667%; }

.collumn-lg-6 {
  width: 50%; }

.collumn-lg-7 {
  width: 58.33333%; }

.collumn-lg-8 {
  width: 66.66667%; }

.collumn-lg-9 {
  width: 75%; }

.collumn-lg-10 {
  width: 83.33333%; }

.collumn-lg-11 {
  width: 91.66667%; }

.collumn-lg-12 {
  width: 100%; }

.collumn-md-1 {
  width: 8.33333%; }

.collumn-md-2 {
  width: 16.66667%; }

.collumn-md-3 {
  width: 25%; }

.collumn-md-4 {
  width: 33.33333%; }

.collumn-md-5 {
  width: 41.66667%; }

.collumn-md-6 {
  width: 50%; }

.collumn-md-7 {
  width: 58.33333%; }

.collumn-md-8 {
  width: 66.66667%; }

.collumn-md-9 {
  width: 75%; }

.collumn-md-10 {
  width: 83.33333%; }

.collumn-md-11 {
  width: 91.66667%; }

.collumn-md-12 {
  width: 100%; }

.collumn-xs-1 {
  width: 8.33333%; }

.collumn-xs-2 {
  width: 16.66667%; }

.collumn-xs-3 {
  width: 25%; }

.collumn-xs-4 {
  width: 33.33333%; }

.collumn-xs-5 {
  width: 41.66667%; }

.collumn-xs-6 {
  width: 50%; }

.collumn-xs-7 {
  width: 58.33333%; }

.collumn-xs-8 {
  width: 66.66667%; }

.collumn-xs-9 {
  width: 75%; }

.collumn-xs-10 {
  width: 83.33333%; }

.collumn-xs-11 {
  width: 91.66667%; }

.collumn-xs-12 {
  width: 100%; }

.collumn-sm-1 {
  width: 8.33333%; }

.collumn-sm-2 {
  width: 16.66667%; }

.collumn-sm-3 {
  width: 25%; }

.collumn-sm-4 {
  width: 33.33333%; }

.collumn-sm-5 {
  width: 41.66667%; }

.collumn-sm-6 {
  width: 50%; }

.collumn-sm-7 {
  width: 58.33333%; }

.collumn-sm-8 {
  width: 66.66667%; }

.collumn-sm-9 {
  width: 75%; }

.collumn-sm-10 {
  width: 83.33333%; }

.collumn-sm-11 {
  width: 91.66667%; }

.collumn-sm-12 {
  width: 100%; }

[class^="collumn-"] {
  float: left; }

.row::after, section::after, .clear-fix::after {
  content: '';
  display: block;
  clear: both; }

.button {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  width: 120px;
  height: 35px;
  font: 16px "MyriadPro-Light";
  padding: 10px 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffa800;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  background: #ffa800; }

.btn-viewmore .icon-small {
  margin-left: 7px; }

.btn-viewmore:hover {
  background: #0ec0ee; }

input {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  width: 145px;
  height: 40px;
  border: 1px solid #8d8d8d; }

body {
  max-width: 1600px;
  margin: 0 auto;
  background: #f5f6f6;
  font-family: Arial, "Sans-Serif"; }

a:hover {
  transition: all 0.3s; }

.container {
  width: 1240px;
  margin: 0 auto; }

.hide {
  display: none; }

.hide-lg {
  display: none; }

.section-head {
  font: 24px 'Myriad Pro Light';
  float: left;
  color: #fff;
  text-transform: uppercase;
  padding-top: 5px; }

@media screen and (max-width: 1599px) {
  .body {
    width: 100%; }
  .container {
    width: calc(100% - 100px); }
  .hide-md {
    display: none; } }

@media screen and (max-width: 1023px) {
  .body {
    width: 100%; }
  .container {
    width: calc(100% - 30px); }
  .hide-xs {
    display: none; }
  .section-head {
    font-size: 20px;
    padding-top: 7px; } }

@media screen and (max-width: 767px) {
  .body {
    width: 100%; }
  .container {
    width: calc(100% - 30px); }
  .section-head {
    font-size: 20px;
    padding-top: 7px; } }

@media screen and (max-width: 479px) {
  .hide-sm {
    display: none; }
  .section-banner .section-title {
    font-size: 26px; }
  .section-head {
    font-size: 16px;
    padding-top: 7px; } }

/* page header */
.page-header {
  padding: 15px 0;
  background: #fff; }
  .page-header .cover-logo {
    width: 140px;
    float: left; }
  .page-header .logo-page {
    width: 100%;
    height: 100%; }

.box-menu {
  float: right; }

.hotline-list {
  float: right; }

.hotline-item {
  display: inline-block; }
  .hotline-item .hotline-icon-cover {
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 3px; }

.hotline-icon-cover .icon-hotline {
  width: 100%;
  height: 100%; }

.hotline-content {
  float: right;
  margin-left: 7px; }
  .hotline-content .number {
    color: #ffa800;
    text-decoration: none; }

.hotline-1 {
  margin-right: 35px; }

.hotline-title {
  font-size: 12px; }

.hotline-phone {
  font-size: 14px;
  margin-top: 10px; }

.main-menu {
  float: right;
  margin-top: 25px; }

.mm-item {
  display: inline-block;
  margin-right: 25px; }
  .mm-item:last-child {
    margin-right: 0; }

.mm-link {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none; }
  .mm-link:hover {
    color: #ffa800; }

.mm-link.active {
  color: #ffa800; }

@media screen and (max-width: 1599px) {
  .mm-item {
    margin-right: 10px; }
  .mm-link {
    font-size: 13px; } }

@media screen and (max-width: 1023px) {
  .mm-item {
    margin-right: 8px; }
  .mm-link {
    font-size: 12px; } }

@media screen and (max-width: 767px) {
  .btn-menu {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: inline-block; }
  .icon-menu {
    -ms-object-fit: fill;
    -webkit-object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    object-fit: fill;
    width: 100%;
    height: 100%; }
  input[name="check-menu"]:checked + .box-menu {
    display: block; }
  .box-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    overflow-y: auto;
    z-index: 100;
    display: none; }
  .page-header .cover-logo {
    width: 90%;
    text-align: center; }
  .page-header .logo-page {
    width: 70px;
    height: 50px; }
  .hotline-list {
    float: none; }
    .hotline-list::after {
      content: '';
      display: block;
      clear: both; }
  .hotline-content {
    float: none;
    margin-left: 0; }
  .hotline-item {
    display: block;
    float: none;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #000; }
    .hotline-item .hotline-icon-cover {
      width: 15px;
      height: 15px;
      display: none; }
  .hotline-icon-cover .icon-hotline {
    width: 100%;
    height: 100%; }
  .hotline-1 {
    margin-right: 0; }
  .hotline-title {
    font-size: 12px; }
  .hotline-phone {
    font-size: 13px;
    margin-top: 3px; }
  .main-menu {
    float: none;
    margin-top: 0; }
  .mm-item {
    margin-right: 0;
    display: block;
    padding: 10px 0;
    border-top: 1px solid #000;
    text-align: center; }
  .mm-link {
    font-size: 12px; } }

/* section banner */
.section-banner {
  width: 100%;
  height: 830px;
  background-image: url("../images/banner.png");
  text-align: center;
  padding-top: 275px; }
  .section-banner .section-title {
    font: 52px "UTMFacebookK-T";
    color: #fff;
    text-transform: uppercase; }

.caption-banner .slogan {
  font: bold 18px "UTMBryantLGBold";
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px; }

.caption-banner .group-button {
  margin-top: 80px; }
  .caption-banner .group-button .view-tour {
    border: 2px solid #fff;
    background-color: transparent; }
  .caption-banner .group-button .detail-tour {
    border: 2px solid #fff;
    background-color: transparent; }
  .caption-banner .group-button .button:hover {
    background-color: #0ec0ee;
    border: 2px solid #0ec0ee; }

/* section intersting */
.section-interesting {
  padding-bottom: 30px;
  margin-top: -110px; }

.interesting-list {
  margin-top: 20px; }

.interesting-item {
  float: left;
  width: calc((100% - 60px)/4);
  margin-right: 20px; }
  .interesting-item:last-child {
    margin-right: 0; }
  .interesting-item .fig-tour {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #dadbdb;
    padding-bottom: 15px; }
    .interesting-item .fig-tour a {
      width: 100%;
      height: 210px;
      display: inline-block;
      overflow: hidden; }
  .interesting-item .fig-image {
    -ms-object-fit: cover;
    -webkit-object-fit: cover;
    -o-object-fit: cover;
    -moz-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .interesting-item .fig-image:hover {
      width: 120%;
      height: 260px; }
  .interesting-item a {
    text-decoration: none; }
  .interesting-item .fig-caption {
    padding: 0 10px 0; }
    .interesting-item .fig-caption .name {
      font-size: 15px;
      font-weight: bold;
      color: #282828;
      text-transform: uppercase;
      margin-top: 15px; }
    .interesting-item .fig-caption .price {
      font-size: 14px;
      color: #282828;
      margin-top: 10px; }
    .interesting-item .fig-caption .price-number {
      font-size: 18px;
      font-weight: bold;
      color: #0ec0ee; }

/* section search */
.section-search {
  background: url("../images/bg-search.png");
  padding-bottom: 20px; }
  .section-search .cover-logo {
    width: 200px;
    height: 120px;
    float: left;
    margin-top: 70px; }
  .section-search .logo-page {
    width: 100%; }
  .section-search .section-content {
    width: calc(100% - 230px);
    float: right;
    margin: 30px 0 0; }

.tabs .tab-item {
  display: inline-block; }

.tabs .tab-search {
  text-decoration: none;
  color: #282828;
  margin-bottom: -1px;
  padding: 20px 30px 15px;
  display: inline-block; }

.section-search input[name="search"] {
  display: none; }

.section-search input[name="search"]:checked + .tab-search {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid #d7d7d7;
  border-bottom: 0;
  background: #fff; }

.tab-search .name {
  font-size: 26px;
  text-transform: uppercase;
  font-family: "MyriadPro-Regular"; }

.tab-search .slogan {
  text-transform: uppercase;
  font-family: "MyriadPro-Regular";
  font-size: 14px;
  margin-top: 10px; }

.form-search {
  padding-top: 40px;
  border-top: 1px solid #d7d7d7; }
  .form-search input,
  .form-search button {
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #d7d7d7;
    padding-left: 10px;
    margin-right: 10px;
    outline: none; }
  .form-search input[name="location"] {
    width: 480px; }
  .form-search input[name="length"],
  .form-search input[name="price"] {
    width: 145px; }
  .form-search .line {
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    border-right: 2px solid #d7d7d7;
    margin-right: 10px; }

button.btn-search {
  width: 165px;
  font-size: 14px;
  color: #fff;
  background-color: #0ec0ee;
  border: 1px solid #0ec0ee;
  padding-top: 3px;
  margin-right: 0;
  cursor: pointer; }
  button.btn-search .icon-search {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    vertical-align: top; }

#form-search-2 {
  display: none; }

/* section-service */
.section-service {
  background-color: #f5f6f6;
  padding-bottom: 40px; }

.service-item {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  width: calc((100% - 20px)/3);
  float: left;
  margin-right: 10px;
  margin-top: 30px;
  background-color: #fff;
  padding: 20px 0 0;
  box-shadow: 0 2px 0 0 #dadbdb; }
  .service-item:last-child {
    margin-right: 0; }

.service-title {
  font-size: 20px;
  padding: 0 20px; }

.service-info {
  font-size: 15px;
  padding: 0 20px;
  margin-top: 15px;
  color: #8d8d8d; }

.service-list .tour-list {
  margin-top: 15px; }
  .service-list .tour-list .tour {
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-size: cover;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s; }
    .service-list .tour-list .tour:hover {
      background-size: 120%; }
  .service-list .tour-list .tour.top-item {
    height: 230px; }

.tour .gradient-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  background: -ms-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  background: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)); }

.tour .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 102; }
  .tour .caption .icon {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    z-index: 103; }
  .tour .caption .name-tour {
    position: absolute;
    bottom: 40px;
    left: 80px;
    z-index: 103;
    font-weight: bold;
    color: #fff; }
  .tour .caption .time-day {
    position: absolute;
    bottom: 10px;
    left: 80px;
    z-index: 103;
    color: #fff;
    font-size: 14px; }
  .tour .caption .price-tour {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 103;
    font-weight: bold;
    font-size: 14px;
    color: #fff; }
  .tour .caption .link-tour {
    text-decoration: none;
    color: #fff;
    font-size: 16px; }
  .tour .caption .icon-star img {
    -ms-object-fit: fill;
    -webkit-object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    object-fit: fill;
    height: 14px;
    width: 83px; }

.other-tour {
  position: relative;
  float: right;
  margin: 15px; }
  .other-tour .other-tour-link {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    vertical-align: center;
    padding-right: 30px; }
  .other-tour .icon-next {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 2px; }

/* support online */
.section-support {
  background-image: url("../images/bg-support.png");
  background-position: left -200px; }
  .section-support .gradient-box {
    z-index: 101;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }
  .section-support .container {
    position: relative;
    z-index: 103; }
  .section-support .box-content {
    width: 100%;
    height: 100%;
    z-index: 101; }
  .section-support .title-section {
    font: 36px "MyriadPro-Regular";
    text-transform: uppercase;
    color: #fff;
    padding-top: 50px; }

.list-support {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  width: 90%;
  padding: 25px 0;
  margin: 25px auto 40px;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.3); }
  .list-support .item-list {
    display: inline-block;
    width: 24.5%;
    text-align: center; }
    .list-support .item-list .title-kind {
      font: 24px "MyriadPro-Regular";
      text-transform: uppercase;
      color: #fff; }
  .list-support .box-call {
    margin-top: 20px; }
  .list-support .support-link:first-child {
    margin-right: 24px; }
  .list-support .support-link:hover .icon-support {
    -webkit-transform: rotate(3600deg);
    -moz-transform: rotate(3600deg);
    -ms-transform: rotate(3600deg);
    -o-transform: rotate(3600deg);
    transform: rotate(3600deg); }
  .list-support .icon-support {
    width: 34px;
    height: 34px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -ms-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s; }

/* section activity */
.section-activity {
  padding: 30px 0; }
  .section-activity .section-head {
    font: 24px "MyriadPro-Regular";
    color: #000; }

.activity-list {
  list-style: none;
  padding-top: 30px; }

.activity-item {
  float: left;
  width: calc((100% - 60px)/4);
  margin-right: 20px; }
  .activity-item:last-child {
    margin-right: 0; }
  .activity-item .box-image {
    position: relative;
    z-index: 100;
    width: 100%;
    min-height: 350px; }
  .activity-item .figure-tour .gradient-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    background: -ms-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    background: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)); }
  .activity-item .caption-activity {
    position: absolute;
    z-index: 103;
    bottom: 20px;
    left: 10px; }
  .activity-item .box-time-activity {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    height: 50px;
    padding: 15px;
    background: #373940; }
  .activity-item .time-day {
    float: left;
    font-size: 12px;
    color: #fff; }
  .activity-item .time-date {
    float: right;
    font-size: 12px;
    color: #fff; }

.activity-image {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -ms-object-fit: cover;
  -webkit-object-fit: cover;
  -o-object-fit: cover;
  -moz-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%; }

.link-activity {
  font-size: 18px;
  color: #fff;
  text-decoration: none; }

@media screen and (max-width: 1599px) {
  .form-search input,
  .form-search button {
    width: calc((100% - 60px)/4); }
  .form-search input[name="location"] {
    width: calc((100% - 60px)/4); }
  .form-search input[name="length"],
  .form-search input[name="price"] {
    width: calc((100% - 60px)/4); } }

@media screen and (max-width: 1023px) {
  .section-banner .section-title {
    font-size: 38px; }
  .section-banner .slogan {
    font-size: 14px; }
  .interesting-item {
    width: calc((100% - 30px)/4);
    margin-right: 10px; }
  .section-search .cover-logo {
    width: 150px;
    margin-top: 70px; }
  .section-search .section-content {
    width: calc(100% - 180px);
    margin: 30px 0 0; }
  .tab-item .tab-search {
    padding: 15px 20px 10px; }
  .form-search {
    padding-top: 20px; }
    .form-search input[name="location"] {
      width: calc((100% - 60px)/4); }
    .form-search input[name="length"],
    .form-search input[name="price"] {
      width: calc((100% - 60px)/4); }
  input,
  button {
    width: calc((100% - 60px)/4); }
  .tour .caption .icon {
    bottom: 5px;
    left: 5px; }
  .tour .caption .name-tour {
    bottom: 30px;
    left: 50px; }
  .tour .caption .time-day {
    bottom: 10px;
    left: 50px;
    font-size: 12px; }
  .tour .caption .price-tour {
    bottom: 10px;
    right: 10px;
    font-size: 14px; }
  .tour .caption .link-tour {
    font-size: 14px; }
  .list-support {
    width: 100%;
    margin-top: 15px; }
  .section-support .title-section {
    padding-top: 30px; }
  .activity-item {
    width: calc((100% - 20px)/2); }
  .activity-item:nth-child(1),
  .activity-item:nth-child(3) {
    margin-right: 10px; }
  .activity-item:nth-child(2),
  .activity-item:nth-child(4) {
    margin-left: 10px;
    margin-right: 0; }
  .activity-item:nth-child(3),
  .activity-item:nth-child(4) {
    margin-top: 20px; }
  .activity-item .box-time-activity {
    padding: 10px; }
  .activity-item .time-date {
    margin-bottom: 5px; } }

@media screen and (max-width: 767px) {
  .section-banner .section-title {
    font-size: 38px; }
  .section-banner .slogan {
    font-size: 14px; }
  .interesting-item {
    width: 100%;
    margin-right: 0; }
  .section-search .cover-logo {
    width: 150px;
    margin-top: 70px;
    display: none; }
  .section-search .section-content {
    width: 100%;
    margin: 30px 0 0; }
  .tab-item .tab-search {
    padding: 5px 10px 5px; }
  .tab-search .name {
    font-size: 20px; }
  .tab-search .slogan {
    font-size: 10px;
    margin-top: 5px; }
  .form-search {
    padding-top: 20px; }
    .form-search input[name="location"],
    .form-search input[name="price"] {
      width: calc((100% - 30px)/2);
      margin-right: 10px;
      margin-left: 0; }
    .form-search input[name="length"],
    .form-search button {
      width: calc((100% - 30px)/2);
      margin-left: 10px;
      margin-right: 0; }
    .form-search input[name="price"],
    .form-search button {
      margin-top: 10px; }
    .form-search .line {
      display: none; }
  .tour .caption .icon {
    bottom: 5px;
    left: 5px; }
  .tour .caption .name-tour {
    bottom: 30px;
    left: 50px; }
  .tour .caption .time-day {
    bottom: 10px;
    left: 50px;
    font-size: 12px; }
  .tour .caption .price-tour {
    bottom: 10px;
    right: 10px;
    font-size: 14px; }
  .tour .caption .link-tour {
    font-size: 14px; }
  .list-support {
    width: 100%;
    margin-top: 15px; }
  .section-support .title-section {
    padding-top: 30px; }
  .activity-item:nth-child(1),
  .activity-item:nth-child(2),
  .activity-item:nth-child(3),
  .activity-item:nth-child(4) {
    width: 100%;
    margin: 10px 0 0; }
  .activity-item .box-time-activity {
    padding: 10px; }
  .activity-item .time-date {
    margin-bottom: 5px; }
  .service-item {
    width: 100%;
    margin: 10px 0 0; }
  .list-support {
    width: 100%; }
    .list-support .item-list {
      width: 49%;
      margin-top: 10px; } }

@media screen and (max-width: 479px) {
  .tab-search .name {
    font-size: 14px; }
  .section-interesting .button {
    width: 100px;
    height: 30px;
    padding: 7px; }
    .section-interesting .button span {
      font-size: 14px; }
  .form-search input[name="location"],
  .form-search input[name="price"],
  .form-search input[name="length"],
  .form-search button {
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
  .form-search input[name="price"],
  .form-search input[name="length"],
  .form-search button {
    margin-top: 10px; }
  .section-support .title-section {
    font-size: 22px; }
  .list-support .title-kind {
    font-size: 16px; }
  .list-support .box-call {
    margin-top: 10px; }
  .section-activity .section-head {
    font-size: 14px; }
  .section-activity .button {
    width: 100px;
    height: 30px;
    padding: 7px; }
    .section-activity .button span {
      font-size: 14px; } }

/* footer */
.page-footer {
  background: #fff;
  padding-top: 25px; }
  .page-footer .content-item {
    float: left; }

.box-logo-footer {
  width: 20%;
  padding-right: 30px;
  margin-top: 10px; }

.logo-footer {
  width: 100%; }

.box-info {
  width: 20%; }

.box-title {
  font-size: 14px;
  font-weight: bold;
  color: #282828;
  text-transform: uppercase; }

.info-list {
  margin-top: 15px; }

.info-item {
  margin-bottom: 10px; }

.info-link {
  font-size: 14px;
  color: #000;
  text-decoration: none; }
  .info-link:hover {
    color: #ffa800; }

.box-social {
  width: 20%; }
  .box-social .box-title {
    font: bold 14px 'Arial';
    color: #282828;
    text-transform: uppercase; }

.social-item {
  margin-top: 10px; }

.social-link {
  text-decoration: none; }

.social-link .label:hover {
  color: #ffa800;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.social-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle; }

.social-item .label {
  margin-left: 10px;
  color: #282828; }

.box-email {
  width: 40%;
  margin-top: 15px;
  float: right; }
  .box-email .slogan {
    font-size: 14px; }

.form-send-email {
  position: relative;
  z-index: 100;
  width: 100%;
  float: right;
  margin-top: 25px; }
  .form-send-email input[type="email"] {
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    height: 53px;
    width: 100%;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    padding-left: 10px; }
  .form-send-email .btn-send {
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 103;
    background: #0ec0ee;
    width: 90px;
    height: 53px;
    border: 1px solid #0ec0ee;
    z-index: 101; }
    .form-send-email .btn-send .email-icon {
      width: 30px;
      height: 30px; }
  .form-send-email:hover {
    cursor: pointer; }

.box-footer {
  padding-bottom: 10px; }

.copyright {
  float: left;
  font-size: 14px; }

.designed-by {
  float: right;
  font-size: 14px; }

.designed-by .link-page {
  color: #30b549;
  text-decoration: none; }

@media screen and (max-width: 1599px) {
  .box-logo-footer {
    width: 25%; }
  .box-email {
    width: 35%; } }

@media screen and (max-width: 1023px) {
  .box-logo-footer {
    width: 25%; }
  .box-email {
    width: 35%; }
  .form-send-email .btn-send {
    width: 60px; }
    .form-send-email .btn-send .email-icon {
      width: 20px;
      height: 20px; } }

@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: 20px; }
    .page-footer .content-item {
      margin-top: 20px; }
      .page-footer .content-item:first-child {
        margin-top: 0; }
  .box-logo-footer {
    width: 100%;
    text-align: center; }
  .logo-footer {
    width: 20%; }
  .box-info {
    width: 50%; }
  .box-social {
    width: 50%; }
  .box-email {
    width: 100%; }
  .form-send-email .btn-send {
    width: 60px; }
    .form-send-email .btn-send .email-icon {
      width: 20px;
      height: 20px; }
  .box-footer {
    margin-top: 20px; } }

@media screen and (max-width: 479px) {
  .form-send-email input[type="email"] {
    height: 40px; }
  .form-send-email .btn-send {
    height: 40px; } }
