
/* fonts face */
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriad-pro/regular.ttf');
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url('../fonts/myriad-pro/MyriadPro-Light.otf');
}

@font-face {
  font-family: 'Bryant';
  src: url('../fonts/bryant/UTM BryantLG_B.ttf');
}

@font-face {
  font-family: 'Facebook K&T';
  src: url('../fonts/facebook K&T/UTM FacebookR K&T.ttf');
}

/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background: #f5f6f6;
  font-family: 'Arial';
}

ul,
ol {
  list-style: none;
}
a:hover {
  transition: all 0.3s;
}

section::after {
 content: '';
 display: block;
 clear: both;
}

.container {
  width: 1240px;
  margin: 0 auto;

}

.button {
  width: 120px;
  height: 35px;
  font: 16px 'Myriad Pro Light';
  padding: 10px 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ffa800;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.blue {
  color: #30c5ef;
}

.orange {
  color: #ffbf43;
}

.hide {
  display: none;
}
.hide-lg {
  display: none;
}

.section-head {
  font: 24px 'Myriad Pro Light';
  float: left;
  color: #fff;
  text-transform: uppercase;
  padding-top: 5px;
}

.viewmore .icon-small {
  margin-left: 7px;
}

.clear-fix::after {
  content: "";
  clear: both;
  display: block;
}

/* page header */
.page-header {
  padding: 15px 0;
  background: #fff;
}

.page-header .cover-logo{
  width: 140px;
  float: left;
}

.page-header .logo-page {
  width: 100%;
  height: 100%;
}

.box-menu {
  float: right;
}

.hotline-list {
  float: right;
}

.hotline-item {
  display: inline-block;
}

.hotline-item .hotline-icon-cover {
  width: 35px;
  height: 35px;
  float: left;
  margin-top: 3px;
}

.hotline-icon-cover .icon-hotline {
  width: 100%;
  height: 100%;
}

.hotline-content {
  float: right;
  margin-left: 7px;
}

.hotline-1 {
  margin-right: 35px;
}

.hotline-title {
  font-size: 12px;
}

.hotline-phone {
  font-size: 14px;
  margin-top: 10px;
}

.hotline-content .number {
  color: #ffbf43;
  text-decoration: none;
}

.main-menu {
  float: right;
  margin-top: 25px;
}

.mm-item {
  display: inline-block;
  margin-right: 25px;
}

.mm-item:last-child {
  margin-right: 0;
}

.mm-link {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.mm-link:hover,
.mm-link.active {
  color: #ffbf43;
}

/* main page */

/* section banner */
.section-banner {
  width: 100%;
  height: 830px;
  background-image: url('../images/banner.png');
  text-align: center;
  padding-top: 275px;
}

.section-banner .section-title {
  font: 52px 'Facebook K&T';
  color: #ffff;
  text-transform: uppercase;
}

.caption-banner .slogan {
  font: bold 18px 'Bryant';
  color: #ffff;
  text-transform: uppercase;
  margin-top: 10px;
}

.caption-banner .group-button {
  margin-top: 80px;
}
.caption-banner .group-button  .view-tour,
.caption-banner .group-button  .detail-tour {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, .0);
}
.caption-banner .group-button  .button:hover {
  background-color: #0ec0ee;
  border:  2px solid #0ec0ee;
}
/* section intersting */
.section-interesting {
 padding-bottom: 30px;
 margin-top: -110px;
}

.interesting-list {
  margin-top: 20px;
}

.interesting-item {
  float: left;
  width: calc((100% - 60px)/4);
  margin-right: 20px;
}

.interesting-item:last-child {
  margin-right: 0;
}

.interesting-item .fig-tour {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #dadbdb;
  padding-bottom: 15px;
}

.interesting-item .fig-image {
  width: 100%;
  height: 210px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.interesting-item a {
  text-decoration: none;
}

.interesting-item .fig-caption {
  padding: 0 10px 0;
}

.interesting-item .fig-caption .name {
  font-size: 15px;
  font-weight: bold;
  color: #282828;
  text-transform: uppercase;
  margin-top: 15px;
}

.interesting-item .fig-caption .price {
  font-size: 14px;
  color: #282828;
  margin-top: 10px;
}

.interesting-item .fig-caption .price-number {
  font-size: 18px;
  font-weight: bold;
}


/* section search */
.section-search {
  background: url('../images/bg-search.png');
  padding-bottom: 20px;
}

.section-search .cover-logo {
  width: 200px;
  height: 120px;
  float: left;
  margin-top: 70px;
}

.section-search .logo-page {
  width: 100%;
  /* height: 100%; */
}

.section-search .section-content {
  width: calc(100% - 230px);
  float: right;
  margin: 30px 0 0;
} 

.tabs .tab-item {
  display: inline-block;
}

.tab-item .tab-search {
  text-decoration: none;
  color: #282828;
  margin-bottom: -1px;
  padding: 20px 30px 15px;
  display: inline-block;
}

.section-search input[name="search"] {
  display: none;
}

.section-search input[name="search"]:checked + .tab-search {
  border: 1px solid #d7d7d7;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  background: #fff;

}

.tab-search .name,
.tab-search .slogan {
  text-transform: uppercase;
  font-family: 'Myriad Pro';
}

.tab-search .name {
  font-size: 26px;
}

.tab-search .slogan {
  font-size: 14px;
  margin-top: 10px;
}


.form-search {
  padding-top: 40px;
  border-top: 1px solid #d7d7d7;
}

.form-search input,
.form-search button {
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #d7d7d7;
  padding-left: 10px;
  margin-right: 10px;
  outline: none;
}

.form-search input[name="location"] {
  width: 480px;
}

.form-search input[name="length"],
.form-search input[name="price"] {
  width: 145px;
}

.form-search .line {
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  border-right: 2px solid #d7d7d7;
  margin-right: 10px;

}

button.btn-search {
  width: 165px;
  font-size: 14px;
  color: #fff;
  background-color: #0ec0ee;
  border: 1px solid #0ec0ee;
  padding-top: 3px;
  margin-right: 0;
  cursor: pointer;
}

.btn-search .icon-search {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  vertical-align: top;
}

#form-search-2 {
  display: none;
}

/* section-service */
.section-service {
  background-color: #f5f6f6;
  padding-bottom: 40px;
}

.service-item {
  width: calc((100% - 20px)/3);
  float: left;
  margin-right: 10px;
  margin-top: 30px;
  background-color: #fff;
  padding: 20px 0 0;
  box-shadow: 0 2px 0 0 #dadbdb;
  border-radius: 5px;
}

.service-item:last-child {
  margin-right: 0;
}

.service-title {
  font-size: 20px;
  padding: 0 20px;
}

.service-info {
  font-size: 15px;
  padding: 0 20px;
  margin-top: 15px;
  color: #8d8d8d;
}

.service-list .tour-list {
  margin-top: 15px;
}

.tour-list .tour  {
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-size: cover;
}

.tour-list .tour.top-item {
  height: 230px;
}

.tour .gradient-image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 101;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0,.5));
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0,.5));
  background: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0,.5));
}

.tour .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 102;
}

.tour .caption .icon {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 103;
}

.tour .caption .name-tour {
  position: absolute;
  bottom: 40px;
  left: 80px;
  z-index: 103;
  font-weight: bold;
  color: #fff;
}

.tour .caption .time-day {
  position: absolute;
  bottom: 10px;
  left: 80px;
  z-index: 103;
  color: #fff;
  font-size: 14px;
}

.tour .caption .price-tour {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 103;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.tour .caption .link-tour {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.tour .caption .icon-star img {
  height: 14px;
  width: 83px;
  object-fit: fill;
}

.other-tour {
  position: relative;
  float: right;
  margin: 15px;
}

.other-tour .other-tour-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  vertical-align: center;
  padding-right: 30px;
}

.other-tour .icon-next {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 2px;
}

/* support online */
.section-support {
  background-image: url('../images/bg-support.png');
  background-position: left -200px;
}

.section-support .gradient-box {
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.section-support .container {
  position: relative;
  z-index: 103;
}

.section-support .box-content {
  width: 100%;
  height: 100%;
  z-index: 101;
}

.section-support .title-section {
  font: 36px 'Myriad Pro';
  text-transform: uppercase;
  color: #fff;
  padding-top: 50px;
}

.list-support {
  width: 90%;
  padding: 25px 0;
  margin: 25px auto 40px;
  list-style-type: none;
  background: rgba(0, 0, 0, .3);
  border-radius: 3px;
}

.list-support .item-list {
  display: inline-block;
  width: 24.5%;
  text-align: center;
}

.list-support .item-list .title-kind {
  font: 24px 'Myriad Pro';
  text-transform: uppercase;
  color: #fff;
}

.list-support .box-call {
  margin-top: 20px;
}

.list-support .support-link:first-child {
  margin-right: 24px;
}

.list-support .icon-support {
  width: 34px;
  height: 34px;
}

/* section activity */

.section-activity {
  padding: 30px 0;
}

.section-activity .section-head {
  font: 24px 'Myriad Pro';
  color: #000;
}

.activity-list {
  list-style: none;
  padding-top: 30px;
}

.activity-item {
  float: left;
  width: calc((100% - 60px)/4);
  margin-right: 20px;
}

.activity-item:last-child {
  margin-right: 0;
}

.activity-item .box-image {
  position: relative;
  z-index: 100;
  width: 100%;
  min-height: 350px;
}

.activity-image {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.activity-item .figure-tour .gradient-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0,.5));
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0,.5));
  background: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0,.5));
}

.activity-item .caption-activity {
  position: absolute;
  z-index: 103;
  bottom: 20px;
  left: 10px;
}

.link-activity {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.activity-item .box-time-activity {
  height: 50px;
  padding: 15px;
  background:  #373940;
  border-radius: 0 0 5px 5px;
}

.activity-item .time-day,
.activity-item  .time-date {
  font-size: 12px;
  color: #fff;
}

.activity-item .time-day {
  float: left;
}

.activity-item  .time-date {
  float: right;
}

/* footer */
.page-footer {
  background: #fff;
  padding-top: 25px;
}

.page-footer .content-item {
  float: left;
}

.box-logo-footer {
  width: 20%;
  padding-right: 30px;
  margin-top: 10px;
}

.logo-footer {
  width: 100%;
  /* height: 130px; */
}

.box-info {
  width: 20%;
}

.box-title {
  font: bold 14px 'Arial';
  color: #282828;
  text-transform: uppercase;
  font-weight: bold;
}

.info-list {
  margin-top: 15px;
}

.info-item {
  margin-bottom: 10px;
}

.info-link {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.info-link:hover {
  color: #ffbf43;
}

.box-social {
  width: 20%;
}

.box-social .box-title {
  font: bold 14px 'Arial';
  color: #000;
  text-transform: uppercase;
}

.social-item {
  margin-top: 10px;
}

.social-link {
  text-decoration: none;
}

.social-link .label:hover {
  color: #ffbf43;
  transition: all 0.3s;
}

.social-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.social-item .label {
  margin-left: 10px;
  color: #282828;
}

.box-email {
  width: 40%;
  margin-top: 15px;
  float: right;
}

.box-email .slogan {
  font-size: 14px;
}

.form-send-email {
  position: relative;
  z-index: 100;
  width: 100%;
  float: right;
  margin-top: 25px;
}

.form-send-email input[type="email"] {
  height: 53px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 14px;
  padding-left: 10px;
}

.form-send-email .btn-send {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 103;
  background: #0ec0ee;
  width: 90px;
  height: 53px;
  border: 1px solid #0ec0ee;
  border-radius: 2px;
  z-index: 101;
}

.form-send-email .btn-send:hover {
  cursor: pointer;
}

.btn-send .email-icon {
  width: 30px;
  height: 30px;
}

.box-footer {
  padding-bottom: 10px;
}

.copyright {
  float: left;
  font-size: 14px;
}

.designed-by {
  float: right;
  font-size: 14px;
}

.designed-by .link-page {
  color: #30b549;
  text-decoration: none;
}
