@for $i from 1 through 12 {
  .collumn-lg-#{$i} {
    width: (100%/12)*$i;
  }
}
@for $i from 1 through 12 {
  .collumn-md-#{$i} {
    width: (100%/12)*$i;
  }
}
@for $i from 1 through 12 {
  .collumn-xs-#{$i} {
    width: (100%/12)*$i;
  }
}
@for $i from 1 through 12 {
  .collumn-sm-#{$i} {
    width: (100%/12)*$i;
  }
}
.row::after {
  @extend %clearfix;
}
[class^="collumn-"] {
  float: left;
} 
