
$primary-color: #ffa800;
$secondary-color: #0ec0ee;
$bg-color: #f5f6f6;
$green-color: #30b549;
$gray-dark-color: #737373;
$gray-light-color: #8d8d8d;
$border-gray-color: #e5e5e5;
$border-gray-light-color: #d7d7d7;
$dark-bg-color: #373940;
$dark-text-color: #282828;
$box-shadow-color: #dadbdb;
$black-color: #000;
$white-color: #fff;

$font-stack: Arial, 'Sans-Serif';
$font-myriad-pro: 'MyriadPro-Regular';
$font-myriad-light: 'MyriadPro-Light';
$font-bryant: 'UTMBryantLGBold';
$font-facebook-kt: 'UTMFacebookK-T';